<p>menue works!</p>
<a [routerLink]="['/menu',{outlets: {'data': ['user']}}]"> Show User</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['employ']}}]"> Show Employ</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['customer']}}]"> Show Customer</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['employsearch']}}]"> Employ Search</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['customersearch']}}]"> Customer Search</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['usersearch']}}]"> User Search</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<hr/>
<router-outlet name="data"></router-outlet>